mixin breadcrumb 
    ul.inline-flex.gap-2
        block 

mixin breadcrumb_item(href="#")
    li.flex.items-center.gap-1
        +link(href="#") 
            block
        span.text-stone-500.pointer-events-none
            svg(xmlns='http://www.w3.org/2000/svg' width='1.25em' height='1.25em' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                polyline(points='9 18 15 12 9 6')

mixin breadcrumb_active
    li.flex.items-center.gap-1
        span 
            block

