extends ../layout/layout.pug
include ../includes/breadcrumb-mixins.pug
block content
    h2.text-xl.mb-4 Breadcrumb
    +breadcrumb
        +breadcrumb_start Home
        +breadcrumb_item Products
        +breadcrumb_end Categories
