extends ../layout/layout.pug
include ../mixins.pug
include ../includes/breadcrumb-mixins.pug
block content
    h2.text-xl.mb-4 Breadcrumb

    +breadcrumb
        +breadcrumb_item Home
        +breadcrumb_item Products
        +breadcrumb_active Edit
        