extends ../layout/layout.pug
include ../mixins.pug
block content
    h2.text-xl.mb-4 Button
    div
        +button_primary Primary
        +button_secondary Secondary
        +button_outline Outline
        +button_success Success
        +button_primary Danger
        +button_warning Warning
