extends ../layout/layout.pug
block content
    h2.text-xl.mb-4 Form
    form(style="width: 420px")

        div.pb-2
            label.mb-1(for="text_field_1") Text field 
            input.px-3.text-gray-700.border.w-full.block.h-8.mb-1.border-gray-300(class="focus:ring-2", type="text", name="text_field_1", id="text_field_1")

        div.pb-2
            label.mb-1(for="text_field_1") Invalid field
            input.px-3.text-gray-700.border.w-full.block.h-8.mb-1.border-red-300(class="focus:ring-2", type="email", name="text_field_1", id="text_field_1", value="notanemail")
            span.text-sm.text-gray-600 Field value is not valid. 

        fieldset.pb-2
            legend.mb-1 Favorite TV Show
            div 
                label.mr-3
                    input.mr-2(type="radio", name="Frieren")
                    span.select-none Frieren
                label.mr-3
                    input.mr-2(type="radio", name="Frieren")
                    span.select-none Fullmetal Alchemist
                label.mr-3
                    input.mr-2(type="radio", name="Frieren")
                    span.select-none Hunter X Hunter

        fieldset.pb-2
            legend.mb-1 Are you sure?
            label.inline-block.h-8.flex.items-center.cursor-pointer
                input.mr-2(type="checkbox", name="checkbox", id="checkbox")
                span.select-none Yes

        div.py-2
            a.text-sm.h-8.px-4.py-1.cursor-pointer.inline-flex.items-center.border.bg-white.text-gray-800.border-gray-600.mr-4(class="hover:bg-gray-100 focus:ring-2") Cancel
            a.text-sm.h-8.px-4.py-1.cursor-pointer.inline-flex.items-center.border.bg-blue-500.text-white.border-blue-600(class="hover:bg-blue-600 focus:ring-2") Submit
