extends ../layout/layout.pug
block content 
    p.mb-8 This is a collection of UI components built with TailwindCSS and HTML
    h2.font-bold.mb-2 Checklist
    ul.capitalize
        li ⬜️ accordion
        li 
            a(href="/alert.html") ✅ alert
        li 
            a(href="/button.html") ✅ button
        li 
            a(href="/card.html") ✅ card
        li ⬜️ code
        li ⬜️ divider
        li ⬜️ list
        li ⬜️ stat
        li 
            a(href="/table.html") ✅ table
        li ⬜️ tag
        li ⬜️ breadcrumb
        li 
            a(href="/link.html") ✅ link
        li 
            a(href="/form.html") ✅ form
        li 
            a(href="/row-form.html") ✅ row-form
        li 
            a(href="/typography.html") ✅ typography
        li ⬜️ pages
            ul 
                li ⎯⎯⎯ ⬜️ login
                li ⎯⎯⎯ ⬜️ list
                li ⎯⎯⎯ ⬜️ single
                li ⎯⎯⎯ ⬜️ create
                li ⎯⎯⎯ ⬜️ dashboard
                li ⎯⎯⎯ ⬜️ settings

