extends ../layout/layout.pug
block content 
    p.mb-8 Tailwind UI Library is a collection of UI components built with TailwindCSS.
    h2.font-bold.mb-2 Checklist
    ul.capitalize
        li ⬜️ accordion
        li 
            a(href="/alert.html") ✅ alert
        li 
            a(href="/alert.html") ✅ alert
        li 
            a(href="/button.html") ✅ button
        li
            a(href="/dropdown.html") ✅ dropdown
        li 
            a(href="/card.html") ✅ card
        li ⬜️ list
        li ⬜️ stat
        li 
            a(href="/table.html") ✅ table
        li 
            a(href="/tag.html") ✅ tag
        li  
            a(href="/breadcrumb.html") ✅ breadcrumb
        li 
            a(href="/link.html") ✅ link
        li 
            a(href="/form.html") ✅ form
        li 
            a(href="/row-form.html") ✅ row-form
        li 
            a(href="/typography.html") ✅ typography
        li ⬜️ pages
            ul 
                li ⎯⎯⎯ 
                    a(href="/login-page.html") ✅ login
                li ⎯⎯⎯ 
                    a(href="/list-page.html") ✅ list
                li ⎯⎯⎯ ⬜️ single
                li ⎯⎯⎯ ⬜️ create
                li ⎯⎯⎯ ⬜️ dashboard
                li ⎯⎯⎯ ⬜️ settings

