extends ../layout/layout.pug
include ../mixins.pug

block content
    h2.text-xl.mb-1 Row-Form
    p.text-sm.text-zinc-600.mb-4 Tidy form to create, edit, and delete resource with small number of attributes.

    table 
        thead 
            tr.text-left
                th.pb-2 Key 
                th.pb-2 Value 
                th.pb-2 
        tbody
            tr 
                td.pr-2.pb-2
                    input.px-3.text-gray-700.border.w-full.block.h-8.border-gray-300(class="focus:ring-2", placeholder="Enter key")
                td.pr-2.pb-2 
                    input.px-3.text-gray-700.border.w-full.block.h-8.border-gray-300(class="focus:ring-2", placeholder="Enter value")
                td.pb-2
                    +button_outline Delete
            tr 
                td.pr-2.pb-2
                    input.px-3.text-gray-700.border.w-full.block.h-8.border-gray-300(class="focus:ring-2", placeholder="Enter key")
                td.pr-2.pb-2 
                    input.px-3.text-gray-700.border.w-full.block.h-8.border-gray-300(class="focus:ring-2", placeholder="Enter value")
                td.pb-2
                    +button_outline Delete
            tr 
                td.py-2(colspan="3")
                    +button_outline Add New Item