extends ../layout/layout.pug
block content
    div.relative.overflow-x-auto.text-sm
        table.border.border-collapse.border-slate-300.w-full.text-left.text-gray-800.leading-6
            thead.bg-slate-100
                tr.uppercase.text-gray-700
                    th.px-4.py-2.font-bold.tracking-wider Song 
                    th.px-4.py-2.font-bold.tracking-wider Artist 
                    th.px-4.py-2.font-bold.tracking-wider Views
            tbody
                tr.border-b.border-slate-300
                    td.px-4.py-2 Idol
                    td.px-4.py-2 Yoasobi 
                    td.px-4.py-2 129m
                tr.border-b.border-slate-300
                    td.px-4.py-2 Special Z
                    td.px-4.py-2 King Gnu 
                    td.px-4.py-2 93m
                tr.border-b.border-slate-300
                    td.px-4.py-2 Show
                    td.px-4.py-2 Ado
                    td.px-4.py-2 67m
                tr.border-b.border-slate-300
                    td.px-4.py-2 Kiseki
                    td.px-4.py-2 Greeeen
                    td.px-4.py-2 32m
                tr.border-b.border-slate-300
                    td.px-4.py-2 Koi Kogare
                    td.px-4.py-2 Man With A Mission ⅹ Milet
                    td.px-4.py-2 28m
