extends ../layout/layout.pug
include ../mixins.pug
block content
    h2.text-xl.mb-1 Tag 
    .text-xs.text-blue-800.bg-blue-100.h-6.inline-flex.items-center.rounded-xl.px-3 Primary
    .text-xs.text-gray-600.bg-gray-100.h-6.inline-flex.items-center.rounded-xl.px-3 Secondary
    .text-xs.text-zinc-500.bg-white.border.border-zinc-400.h-6.inline-flex.items-center.rounded-xl.px-3 Outline
    .text-xs.text-green-800.bg-green-100.h-6.inline-flex.items-center.rounded-xl.px-3 Success
    .text-xs.text-red-800.bg-red-100.h-6.inline-flex.items-center.rounded-xl.px-3 Danger
    .text-xs.text-yellow-800.bg-yellow-100.h-6.inline-flex.items-center.rounded-xl.px-3 Warning