extends ../layout/layout.pug
include ../mixins/typography.pug
block content
    h2.text-xl.mb-1 Typography 
    +heading1 Heading 1
    +heading2 Heading 2
    +heading3 Heading 3
    +heading4 Heading 4
    +title Title
    +text Text
    +note Note