
mixin button_primary 
    a.text-sm.h-8.px-4.py-1.cursor-pointer.inline-flex.items-center.border-2.bg-blue-500.text-white.border-blue-600(class="hover:bg-blue-600 focus:ring-2 "+attributes.class)
        block 
mixin button_secondary
    a.text-sm.h-8.px-4.py-1.cursor-pointer.inline-flex.items-center.border-2.bg-gray-200.text-gray-800.border-gray-400(class="hover:bg-gray-300 focus:ring-2 "+attributes.class)
        block
mixin button_outline
    a.text-sm.h-8.px-4.py-1.cursor-pointer.inline-flex.items-center.border-2.bg-white.text-gray-800.border-gray-400(class="hover:bg-gray-100 focus:ring-2 "+attributes.class)
        block
mixin button_success
    a.text-sm.h-8.px-4.py-1.cursor-pointer.inline-flex.items-center.border-2.bg-green-600.text-white.border-green-700(class="hover:bg-green-700 focus:ring-2 "+attributes.class)
        block
mixin button_danger
    a.text-sm.h-8.px-4.py-1.cursor-pointer.inline-flex.items-center.border-2.bg-red-600.text-white.border-red-700(class="hover:bg-red-700 focus:ring-2 "+attributes.class)
        block
mixin button_warning
    a.text-sm.h-8.px-4.py-1.cursor-pointer.inline-flex.items-center.border-2.bg-yellow-600.text-white.border-yellow-700(class="hover:bg-yellow-700 focus:ring-2 "+attributes.class)
        block
