
mixin button_primary 
    a.text-sm.h-8.px-4.py-1.cursor-pointer.inline-flex.items-center.border-2.bg-blue-500.text-white.border-blue-600(class="hover:bg-blue-600 focus:ring-2 "+attributes.class)
        block 
mixin button_secondary
    a.text-sm.h-8.px-4.py-1.cursor-pointer.inline-flex.items-center.border-2.bg-gray-200.text-gray-800.border-gray-400(class="hover:bg-gray-300 focus:ring-2 "+attributes.class)
        block
mixin button_outline
    a.text-sm.h-8.px-4.py-1.cursor-pointer.inline-flex.items-center.border-2.bg-white.text-gray-800.border-gray-400(class="hover:bg-gray-100 focus:ring-2 "+attributes.class)
        block
mixin button_success
    a.text-sm.h-8.px-4.py-1.cursor-pointer.inline-flex.items-center.border-2.bg-green-600.text-white.border-green-700(class="hover:bg-green-700 focus:ring-2 "+attributes.class)
        block
mixin button_danger
    a.text-sm.h-8.px-4.py-1.cursor-pointer.inline-flex.items-center.border-2.bg-red-600.text-white.border-red-700(class="hover:bg-red-700 focus:ring-2 "+attributes.class)
        block
mixin button_warning
    a.text-sm.h-8.px-4.py-1.cursor-pointer.inline-flex.items-center.border-2.bg-yellow-600.text-white.border-yellow-700(class="hover:bg-yellow-700 focus:ring-2 "+attributes.class)
        block

mixin heading1
    h1.text-4xl.font-bold.text-slate-900.mb-4
        block 
mixin heading2 
    h2.text-3xl.font-bold.text-slate-900.mb-3
        block 
mixin heading3 
    h3.text-2xl.font-bold.text-slate-900.mb-2
        block 
mixin heading4 
    h4.text-xl.font-bold.text-slate-900.mb-1
        block
mixin title
    span.text-lg.font-bold.text-slate-800
        block
mixin text 
    p.text-base.text-slate-700
        block
mixin note 
    span.text-sm.text-slate-700
        block

mixin link(href, name)
  a.text-indigo-600.underline.cursor-pointer(href=href, class="hover:text-indigo-700")&attributes(attributes)
    block

mixin card 
    .border.border-zinc-200.bg-white&attributes(attributes)
        block
mixin card_header 
    .border-b.border-zinc-200.px-4.py-2
        block
mixin card_body 
    .px-5.py-4
        block
mixin card_footer 
    .border-t.border-zinc-200.px-4.py-2
        block