//- Buttons
mixin button_primary 
    a.text-sm.h-8.px-4.py-1.cursor-pointer.inline-flex.justify-center.items-center.border-2.rounded.bg-blue-500.text-white.border-blue-600(class="hover:bg-blue-600 focus:ring-2 "+attributes.class)
        block 
mixin button_secondary
    a.text-sm.h-8.px-4.py-1.cursor-pointer.inline-flex.justify-center.items-center.border-2.rounded.bg-gray-200.text-gray-800.border-gray-400(class="hover:bg-gray-300 focus:ring-2 "+attributes.class)
        block
mixin button_outline
    a.text-sm.h-8.px-4.py-1.cursor-pointer.inline-flex.justify-center.items-center.border-2.rounded.bg-white.text-gray-800.border-gray-400(class="hover:bg-gray-100 focus:ring-2 "+attributes.class)
        block
mixin button_success
    a.text-sm.h-8.px-4.py-1.cursor-pointer.inline-flex.justify-center.items-center.border-2.rounded.bg-green-600.text-white.border-green-700(class="hover:bg-green-700 focus:ring-2 "+attributes.class)
        block
mixin button_danger
    a.text-sm.h-8.px-4.py-1.cursor-pointer.inline-flex.justify-center.items-center.border-2.rounded.bg-red-600.text-white.border-red-700(class="hover:bg-red-700 focus:ring-2 "+attributes.class)
        block
mixin button_warning
    a.text-sm.h-8.px-4.py-1.cursor-pointer.inline-flex.justify-center.items-center.border-2.rounded.bg-yellow-600.text-white.border-yellow-700(class="hover:bg-yellow-700 focus:ring-2 "+attributes.class)
        block
mixin button_loading
    a.text-sm.h-8.px-4.py-1.pointer-events-none.inline-flex.justify-center.items-center.relative(class=attributes.class)
        block
        span.absolute.inline-flex.justify-center.items-center.rounded.text-stone-600.bg-stone-200.top-0.bottom-0.left-0.right-0
            svg(xmlns='http://www.w3.org/2000/svg' height="16px" viewbox='0 -960 960 960' width="16px" fill='currentColor').animate-spin
                path(d='M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-155.5t86-127Q252-817 325-848.5T480-880q17 0 28.5 11.5T520-840q0 17-11.5 28.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160q133 0 226.5-93.5T800-480q0-17 11.5-28.5T840-520q17 0 28.5 11.5T880-480q0 82-31.5 155t-86 127.5q-54.5 54.5-127 86T480-80Z')


//- Typography
mixin heading1
    h1.text-4xl.font-bold.text-slate-900.mb-4
        block 
mixin heading2 
    h2.text-3xl.font-bold.text-slate-900.mb-3
        block 
mixin heading3 
    h3.text-2xl.font-bold.text-slate-900.mb-2
        block 
mixin heading4 
    h4.text-xl.font-bold.text-slate-900.mb-1
        block
mixin title
    span.text-lg.font-semibold.text-slate-800
        block
mixin text 
    p.text-base.text-slate-700
        block
mixin note 
    span.text-sm.text-slate-700
        block
mixin overnote 
    span.text-xs.uppercase.tracking-wide 
        block

mixin link(href)
  a.text-indigo-600.underline.cursor-pointer(href=href, class="hover:text-indigo-700")&attributes(attributes)
    block

//- Card
mixin card 
    .border.border-zinc-200.bg-white&attributes(attributes)
        block
mixin card_header 
    .border-b.border-zinc-200.px-4.py-2
        block
mixin card_body 
    .px-5.py-4
        block
mixin card_footer 
    .border-t.border-zinc-200.px-4.py-2
        block

//- Icon
mixin more_icon 
    svg(xmlns='http://www.w3.org/2000/svg' height='24px' viewbox='0 -960 960 960' width='24px' fill='currentColor')&attributes(attributes)
        path(d='M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z')

mixin chevron_left_icon 
    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')&attributes(attributes)
        polyline(points='15 18 9 12 15 6')

mixin chevron_right_icon 
    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')&attributes(attributes)
        polyline(points='9 18 15 12 9 6')

//- Image
mixin avatar_img(url, alt)
    img.rounded-full(src=url, alt=alt, width="48")&attributes(attributes)